body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color:#7577ee !important;
}
.custom-navbar{
    color: #fff;

}
.custom-navbar ul li{
    margin-right: 10px;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hero-section {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 100px 1px;
    overflow: hidden;
       
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background_img_Home.jpg') center/cover no-repeat;
    filter: blur(2px); /* Adjust blur intensity */
    z-index: -1;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity for black overlay */
    z-index: -1;
}

.hero-content {
    position: relative;
    
    z-index: 1;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}

.feature-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}
.footer small{
    font-size: 15px;
}
       
